[gcode_macro _PREHEAT_PLA]
gcode:
 M104 S210
 M140 S60

[gcode_macro _PREHEAT_PETG]
gcode:
 M104 S240
 M140 S80

[gcode_macro _PREHEAT_EPET]
gcode:
 M104 S240
 M140 S65

[gcode_macro _PREHEAT_FLEX]
gcode:
 M104 S220

[gcode_macro SET_PLA]
gcode:
 SET_PRESSURE_ADVANCE ADVANCE=0.6 SMOOTH_TIME=0.06
 SET_RETRACTION RETRACT_LENGTH=1.2
 
[gcode_macro SET_PETG]
gcode:
 ;Smooth time 0.04 mcu shutdown
 SET_PRESSURE_ADVANCE ADVANCE=1 SMOOTH_TIME=0.08
 SET_RETRACTION RETRACT_LENGTH=0.75

[gcode_macro SET_EPET]
gcode:
 ;Smooth time 0.04 mcu shutdown
 SET_PRESSURE_ADVANCE ADVANCE=0.5 SMOOTH_TIME=0.08
 SET_RETRACTION RETRACT_LENGTH=1.1

[gcode_macro SET_FLEX96A]
gcode:
 SET_PRESSURE_ADVANCE ADVANCE=0
 SET_RETRACTION RETRACT_LENGTH=0 UNRETRACT_SPEED=15

[gcode_macro SET_FLEX60D]
gcode:
 SET_PRESSURE_ADVANCE ADVANCE=0
 SET_RETRACTION RETRACT_LENGTH=4 UNRETRACT_SPEED=15
 
[gcode_macro SET_NYLON12]
gcode:
 ;testear
 SET_PRESSURE_ADVANCE ADVANCE=1 SMOOTH_TIME=0.08
 SET_RETRACTION RETRACT_LENGTH=0.75